body{
    background-color: whitesmoke;
}
.navBar{
    /*border:solid black;*/
    display:flex;
    margin:0em;
    height:100px;
    /*justify-content:flex-start;*/
    

}

.navLogo{
    border:solid black;
    margin:1em;
    height:55px;
    width:90px;
}

.navButtons{
    border: darkorchid solid;
    margin:1em;
    height:100px;
    width:300px;
    flex-flow:row wrap;
}
.navIcons{
    border:violet solid;
    margin:1em;
    height:50px;
    width:30px;

}

.displayHeader{
    border:solid aqua;
    margin:1em;
    height:300px
    
}

.featuredProd{
    border:solid blue;
    margin:1em;
    height:220px;
}

.swiper{
    border:solid brown;
    margin:1em;
    display:flex;
    height:300px;
}


